<h2>Artists</h2>
<ul>
  <% @artists.each do |artist| -%>
    <li><%= artist.name %></li>
  <% end %>
</ul>

<%= link_to "Create a new Artist", new_artist_path %>

<h2>Customers</h2>
<ul>
  <% @customers.each do |customer| -%>
    <li><%= customer.name %></li>
  <% end %>
</ul>
<%= link_to "Create a new Customer", new_customer_path %>

<%= form_tag("/search", method: "GET", id: "search") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search Customers") %>
<% end %>
