<%= form_for @customer do |f| -%>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :date_on_waiting_list %><br />
    <%= f.date_select :date_on_waiting_list %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status, [["Ongoing", 1],["Waiting list", 2],["Finished", 3],["On hold", 4]] %>
  </p>
  <p>
    <%= f.label :local %><br />
    <%= f.check_box :local %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :credit %><br />
    <%= f.text_field :credit %>
  </p>
  <p>
    <%= f.label :want %><br />
    <%= f.text_area :want %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <%= f.submit class: "btn btn-default" %>
<% end %>
