<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>Artisan Assistant Blog</title>
  <link><%= posts_path only_path: false -%></link>
  <description>Artisan Assistant Blog</description>
  <atom:link href="<%= posts_path only_path: false, format: :rss -%>" rel="self" type="application/rss+xml"/>

  <% @posts.reverse.each do |post| -%>
    <item>
      <title><%= post.title -%></title>
      <link><%= post_path post, only_path: false -%></link>
      <guid><%= post_path post, only_path: false -%></guid>
      <description><%= post.body.to_str -%></description>
    </item>
  <% end -%>
</channel>
</rss>
