<!DOCTYPE html>
<html>
<head>
  <title>ArtisanAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<section>
  <% flash.each do |key, value| -%>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
</section>

<%= yield %>

</body>
</html>
